%tr.gradeA
  %td
    = monthlyrevenues.description  	  
  %td
    = monthlyrevenues.date
  %td
    = monthlyrevenues.anzahl
  %td.right
    = number_with_precision(monthlyrevenues.value, :precision => 2)
    €
