%tr.gradeA
  %td
    = monthlyrevenues.description  	  
  %td
    = monthlyrevenues.date
  %td
    = number_with_precision(monthlyrevenues.value, :precision => 2)
    €
  %td.right
    = number_with_precision(monthlyrevenues.sumvalues, :precision => 2)
    €
