%tr.gradeA
  %td
    = onetimerevenues.description  	  
  %td
    = onetimerevenues.date
  %td
    = onetimerevenues.name
  %td.right
    = number_with_precision(onetimerevenues.value, :precision => 2)
    €
