*{
	font-family: inherit;
	color: rgb(64, 64, 64);
}

.content {
	max-width: 650px;
	margin-left:150px;
}

.content p{

	font-size:15px;
	font-weight:normal;
}

h1,h2,h3,h4,h5{
	font-weight:bold;
	color: inherit;
	margin-bottom: 1em;
}
h2.nobottom{
	margin-bottom:3px;
}

ul.possibilitys{
	list-style-type: none;
	padding: 0;
}

ul.possibilitys li{
	display: inline;
	float:left;
	margin-right:25px;
}

ul.possibilitys li.amazon{
	display: inline;
	float:left;
	margin-right:0px;
	max-width:200px;
}

.clearit{
	clear:both;
}

.dataTables_filter label input {
    display: inline !important;
    width: 150px !important;
}

label:not(.bootstrapped) {
	position: relative;
}

tr.even td {
	background: #FFFFFF;
}

h3.possibility { border-bottom: 1px dashed #c30; text-decoration:none; }
  h3.possibility:hover { cursor:help; color:#c30; background:white; }
  
