:css
  html {color: rgb(68, 68, 68);}
  h3,h4 {margin-bottom:1em;margin-top:1em;}
  p {margin-bottom:0.5em;}

%h2
  %b 
    Impressum
%p
  Impressum Angaben gemäß § 5 TMG
%ul
  %li 
    Lennart Prelle
  %li 
    Finkenwerder Süderdeich 252
  %li 
    21129 Hamburg
  %li
    eMail: 
    %a{:href => "mailto:contact@despora.de"} contact@despora.de

%h2 1. Vorwort
%p
  Despora ist eine Installation der Software des Diaspora-Projektes. Der Quellcode der Software ist für jeden offen zugänglich und kann eingesehen, heruntergeladen, genutzt und verteilt werden.
%p
  Diaspora ist ein dezentrales soziales Netzwerk, welches Nutzern erlaubt, Inhalte miteinander zu teilen, Informationen auszutauschen und Spaß zu haben.
%p
  Ich lerne jeden Tag neue Anforderungen beim Betrieb von Despora kennen und freue mich über hilfreiche Hinweise und Verbesserung des Projekts.
%p
  Ich verwende ein Traffic-Anaylse-Programm namens Piwik, die erzeugten Daten werden hierbei auf einem meiner Server gespeichert. Google Analytics wurde und wird nie benutzt werden. Piwik hilft mir dabei Erkenntnisse über die Anzahl und Art der Zugriffe auf Despora zu gewinnen und darauf zu reagieren.
  
%h2 2. Haftung für Inhalte, Links und alles andere
%p
  Der Betreiber der Plattform möchte einen freien Informationsaustausch gewährleisten. Die Haftung für Inhalte, die durch Nutzer erstellt werden - Beiträge, Nachrichten und mehr - liegen beim Nutzer. Der Betreiber ist keinesfalls haftbar.
%p
  Die Nutzer werden gebeten, keine Inhalte zu veröffentlichen, die gegen in der Bundesrepublik Deutschland anwendbares Recht verstoßen. Sollten Inhalte gegen Gesetzte verstoßen und der Betreiber darauf aufmerksam gemacht wird, wird der Betreiber den Nutzer kontaktieren und um Klärung des Problems und ggf. die Löschung des Inhaltes bitten. Sollte keine andere Möglichkeit bestehen, wird der Betreiber die Inhalte löschen.
%p
  Bisher durch den Betreiber oder nach Aufforderung des Betreibers gelöschte Inhalte:
%ul
  %li
    17.07.2013 Spamaccount gelöscht
    %a{:href => "https://despora.de/posts/1174705"} Post
%p
  Der Betreiber gibt sich Mühe, die Plattform möglichst unterbrechungs- und verlustfrei zu betreiben. Hierfür wird allerdings keinerlei Haftung übernommen.
%h2 4. Urheberrecht
%p
  Das Urheberrecht für Texte, Bilder und sonstige Medien, die ein Benutzer auf Despora hochladen kann, bleibt beim Nutzer. Eine Übertragung auf den Betreiber des Pods findet nicht statt.
%p
  Sollte ein Nutzer wissentlich oder unwissentlich gegen gültiges Urheberrecht verstoßen, ist dieser darauf hinzuweisen. Entsprechende Kontaktdaten können beim Anbieter erfragt werden.
%h2 5. Datenschutz
%p
  Dem Betreiber ist es wichtig, die Daten der Nutzer zu schützen. Es werden keinerlei Daten durch den Anbieter ausgewertet oder an dritte Personen weiter gegeben, außer die Weitergabe wird rechtlich erzwungen. In einem solchen Fall können folgende Daten weitergegeben werden:
%ul
  %li Benutzername
  %li E-Mail-Adresse
  %li IP-Adresse und Zeitpunkt der letzten Anmeldung
%p
  Für Daten, die an andere Diaspora-Pods oder an externe Dienste wie Twitter gesendet werden, kann der Betreiber keinerlei Aussagen treffen. Hier sind die Datenschutzbestimmungen der jeweiligen Plattform zu beachten.
%p
  Leider ist nichts perfekt, auch Diaspora nicht. Der Betreiber kann daher nicht ausschließen, dass Daten durch Sicherheitslücken und Angriffe auf die Systeme abgegriffen werden. Im Falle eines Datenverlustes wird der Anbieter die Nutzer darüber informieren.
%h2 Hinweise
%p
  Diese Nutzungsbedingungen basieren auf der Vorlage des Geraspora Teams, welche unter der
  CC-BY veröffentlicht wurde:
  %a{:href => "https://github.com/geraspora/german-terms-of-service"} https://github.com/geraspora/german-terms-of-service
%p Version 1.2, vom 29. Mai 2012.
