%b Impressum
%br
%br
%b Betreiber von Despora.de
%br
%a{:href => "https://despora.de/u/prellele"}
  Lennart Prelle
%br
%br
%br
%b Haftungshinweis
%br
Trotz  sorgfältiger inhaltlicher Kontrolle, übernehme ich keine Haftung fü Inhalte externer Links. Für Inhalt der verlinkten Seiten sind  ausschliesslich deren Autoren verantwortlich.
%br
%br
%b Zum Datenschutz
%br
In Despora.de geht es lediglich um den Austausch von Daten mit seinen Freunden/Bekannten, es beinhaltet keinen kommerziellen Hintergrund. Als Betreiber von Despora.de habe ich technisch vollen Zugriff auf alle Daten von allen Nutzern, habe jedoch keine Absichten diese auszulesen oder an Dritte weiterzugeben. Alle Daten von Dir gehören ganz alleine Dir.
%br
Ich verwende ein Traffic-Anaylse-Programm namens Piwik, die erzeugten Daten werden hierbei direkt auf dem Server gespeichert. Google Analytics wurde und wird nie benutzt werden. Piwik hilft mir dabei Erkenntnisse über die Anzahl und Art der Zugriffe auf Despora zu gewinnen und darauf zu reagieren.
%br
%br
%b Weitere Informationen
%br
Ich lerne jeden Tag neue Anforderungen beim Betrieb von dieser Website kennen und freue mich über hilfreiche Hinweise Verbesserung des Projekts.
%br
%br
Solltest Du noch weitere Fragen zum Betrieb von despora.de haben, kontaktiere mich gerne persöhnlich. Ich werde dir Rede und Antwort stehen.
%br
